<li>
	<br>
	{{dbArticle_title}}
<br><br>

	<button  class="change-favorite" data-id="{{id}}" data-newfavorite="{{favorited}}">
		{{#if favorited}}Favorited!{{else}}Favorite?{{/if}}
	</button> 
</li>

